<div class="clearfix text-center banner">
  <h1>收單好朋友</h1>
  <hr class="title_border_bottom">
  <h5><%= link_to "快速上手", root_path, class: "btn btn-success btn-lg" %></h5>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-8 no-space">
      <textarea id="questions" v-model="questions" name="questions" autofocus="true"></textarea>
    </div>
    <div class="col-sm-4 iphone-column-wrapper">
      <div id="iphone">
        <div id="transformed_questions">
          <div class="question_wrapper" v-for="result in transformed_questions">
            <Qcontent :content="result.content"></Qcontent>
            <div class="question_options_wrapper clearfix">
              <Qoption v-for="opt in result.options" :option="opt"></Qoption>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 hidden-xs" style="cursor: pointer;">
      <h5 class="border text-info">查看準備好的範例</h5>
    </div>
  </div>
</div>

<template id="Qcontent">
  <div class="question_content clearfix">
    <span class="content">{{ content }}</span>
  </div>
</template>

<template id="Qoption">
  <div class='col-xs-6' style='padding: 0px 5px;'>
  <div class="question_option clearfix">
    <span class="option">{{ option }}</span>
  </div>
  </div>
</template>