textarea {
  font-size: 18px;
}

#questions {
  position: absolute;
  left: 30px;
  top: 30px;  
  @media only screen and (min-width: 769px) {
    width: calc(50% - 60px);
    height: calc(80% - 60px);
  }
  @media only screen and (max-width: 768px) {
    width: calc(100% - 60px);
    height: 200px;
  }
}

// 將結果呈現在 iphone 中
#iphone {
  @media only screen and (max-width: 768px) {
    margin-top: 260px;
    left: 30px;
  }
  @media only screen and (min-width: 769px) {
    left: 50%;
    top: 30px;
  }
  width: calc(600px/4562*2162);
  height: 600px;
  position: absolute;
  // border: 2px solid black;
  text-align: center;
}
#transformed_questions {
  position: absolute;
  left: 13px;
  top: 70px;
  width: 258px;
  height: 452px;
}
#transformed_questions::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#transformed_questions::-webkit-scrollbar-thumb {
    background: #FF0000;
}
///////////////////////////////////////////

#transformed_questions_bg {
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/ca/8a/59/ca8a5934413cb6c94368422f13a3ea2d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#transformed_questions {
  overflow-y: scroll;
  padding: 30px 15px;
  hr {
    margin: 30px auto;
    width: 80%;
    border-color: #777;
    &:last-child {
      display: none;
    }
  }
  .question_wrapper {
    width: 100%;
    max-width: 350px;
    margin: 0px auto;
    text-align: center;
    .question_content, .question_option {
      background-color: rgba(248,248,248,0.78);
      border-radius: 8px;
    }
    .question_content, .question_options_wrapper {
      margin: auto;
    }
    .question_content {
      padding: 15px;
      width: calc(100% - 10px);
      height: 120px;
      font-family: "微軟正黑體",'Open Sans',PingFangTC-Medium,sans-serif,Arial,Helvetica,sans-serif !important;
      font-weight: bold;
      font-size: 18px;
      display: table;
      .content {
        display: table-cell;
        vertical-align: middle;
        word-break: break-word;
        text-align: center;
      }
    }
    .question_option {
      word-break: break-word;
      cursor: pointer;
      margin-top: 10px;
      width: 100%;
      padding: 8px 16px;
      &:hover {
        background-color: rgba(248,248,248,1);
      }
    }
  }
}